#body-content-evaluate-teacher-form-content {
    float: left;
}

#body-content-evaluate-teacher {
    float: left;
    margin-top: 5vh;
}

#body-content-form-info-teacher {
    width: 90%;
    margin-left: 12vh;
}